.app {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  svg,
  img {
    display: block;
  }
  button,
  a,
  input,
  textarea {
    outline: none !important;
  }
  button {
    svg {
      fill: #fff;
      display: inline;
    }
  }
}
